* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-size: 18px;
    background-color: #28252f;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 75%;
}

.form {
    background: #fff;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.textPost{
    font-size: 18px;
}

#postList{
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    list-style-type: none;
}

.postObj{
    margin-top: 10px;
    background-color: #f9f8fa7e;
    border-radius: 15px;
    padding: 20px 10px;
}

.postForm{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    background-color: #f9f8fa7e;
    border-radius: 15px;
    padding: 20px 10px;
}

#titleInput{
    font-size: 24px;
    height: 36px;
}

#bodyInput{
    margin-top: 10px;
    font-size: 16px;
    height: 250px;
    resize: none;
    width: 100%;
    overflow: hidden;
}

#confirmBtn{
    height: 40px;
    width: 150px;
}

.title{
    font-size: 32px;
    font-weight: bold;
    color:rgb(107, 70, 230)
}

.mainTitle{
    margin-top: 30px;
    font-size: 38px;
    color: rgb(169, 71, 225);
}

.commentObj
{
    font-size: 16px;
    background-color: rgb(197, 210, 193);
}

.userData{
    text-decoration: underline;
    color: rgb(80, 1, 184);
}